{% load staticfiles %}
<html>
<head>
<title>{%block title%}Anveshika Home{%endblock%}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">

</script>
<style>
th {
    background-color: blue;
    color: white;
} 
<style>
</style>
</head>
<body>
	 <div id="header"><img  src="/media/logo2.png"  alt="Anveshika" style="width:350px;height:90px;" style="display:inline;"/></div><br><br><br>
		{%if user.is_authenticated %}
            <a href="{% url 'anveshikaapp.views.home' %}">Home</a>&nbsp;&nbsp;&nbsp
			  <a href="{% url 'anveshikaapp.views.upload' %}">Upload</a>&nbsp;&nbsp;&nbsp
			   <a href="{% url 'anveshikaapp.views.listpositions' %}">VCFFile</a>&nbsp;&nbsp;&nbsp
			   <a href="{% url 'anveshikaapp.views.pseSearch' %}">Search</a>&nbsp;&nbsp;&nbsp
			<a href="{%url 'anveshikaapp.views.logout_user' %}" align='right'>Logout {{user.username}}</a>&nbsp;&nbsp;&nbsp
		{%else%}
			<a href="{% url 'anveshikaapp.views.login_user' %}">Login</a>&nbsp;&nbsp;&nbsp
			<a href="{% url 'anveshikaapp.views.register' %}">Register</a>&nbsp;&nbsp;&nbsp
			{%endif%}
	<hr>

	{%block content%}
	<p>This application is used to search annotations </p>
	{%endblock%}

	<hr>



</body>
</html>
